Source: dbus-c++
Section: libs
Priority: extra
Maintainer: Stuart Layton <slayton@mit.edu>
Build-Depends: debhelper (>= 5), autotools-dev, cdbs
Standards-Version: 3.8

Package: dbus-c++
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: DBUS-C++ Library

